%div.page-ui-view.col-xs-10.col-md-8(ui-view="")
  Loading...

= render 'habitapp/templates/habits'
= render 'habitapp/templates/typeahead'
= render 'habitapp/templates/habits_form'
= render 'habitapp/templates/habits_new'
= render 'habitapp/templates/habits_edit'
= render 'habitapp/templates/habit'
= render 'habitapp/templates/signup'
= render 'habitapp/templates/login'
= render 'habitapp/templates/forgot_password'
= render 'habitapp/templates/edit_password'
= render 'habitapp/templates/account_settings'
= render 'habitapp/templates/user'
