%div(ui-view="")
  Loading...

= render 'home/templates/habits'
= render 'home/templates/typeahead'
= render 'home/templates/habits_form'
= render 'home/templates/habits_new'
= render 'home/templates/habits_edit'
= render 'home/templates/habit'
= render 'home/templates/signup'
= render 'home/templates/login'
= render 'home/templates/forgot_password'
= render 'home/templates/edit_password'
= render 'home/templates/account_settings'
